@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */
body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
    font-weight: 700; /* Bold */
}

p {
    font-weight: 400; /* Regular */
}