/* for register user  */
*{
    background-color:#f5f5f5 ;
}
.container{ 
    display: flex;    
    flex-direction:column ;           
    justify-content: center;     
    align-items: center;         
    height: 100vh;              
}
.register{
    display: flex;
    flex-direction: column;
    border: solid 1px ;
    width: 25%;
    height: 50%;
}

.register h1{
    color:blueviolet;
    text-align: center;
}

.registerForm{
    display: flex;
    flex-direction: column;
}

.inner{
    width: 100%;
}
.login-input{
    height: 5vh;
    border-bottom: 2px solid blueviolet;
    width: 99%;
}









/*   for login user */
.form{
    display: flex;
    flex-direction: column;
}